{
    "port": 80,
    "globalSalt": "[global salt (pepper) that is added to every ip before hashing to make it even harder for someone to decode the ip]",
    "adminUserID": "[the hashed id of the user who can perform admin actions]",
    "youtubeAPIKey": null, //get this from Google Cloud Platform [optional]
    "discordReportChannelWebhookURL": null, //URL from discord if you would like notifications when someone makes a report [optional]
    "behindProxy": true,
    "db": "./databases/sponsorTimes.db",
    "privateDB": "./databases/private.db",
    "mode": "development",
    "readOnly": false
}