version: '3'
services:
  postgres:
    container_name: database-co
    image: postgres:alpine
    environment:
      - POSTGRES_USER=ci_db_user
      - POSTGRES_PASSWORD=ci_db_pass
    ports:
      - 5432:5432
  redis:
    container_name: redis-ci
    image: redis:alpine
    ports:
      - 6379:6379